<h1 class="title well">
  ngx-infinite-scroll v-{{nisVersion}}
  <section>
  <small>items: {{news.length}}, now triggering scroll: {{direction}}</small>
  </section>
</h1>

<div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      [scrollWindow]="false"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onUp()"
     >
  <p *ngFor="let i of news">
    #{{ i.id}} - <a href="{{i.url}}">{{ i.title }}</a> - {{ i.time_ago}}
  </p>
</div>
